.blog-page_container {
    padding: 0px;
    display: flex;
    height: 100dvh;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-light); /* Lighter background color for the container (EDF6F9) */
    color: var(--title-color); /* Adjust text color to maintain readability (#006D77) */
    overflow: hidden;
}

.blog-page_title {
    align-self: center;
    font-size: 2rem;
}

.blog_post-buttons-container {
    display: flex; /* Use flexbox to control the layout */
    justify-content: space-between; /* Distribute space evenly between buttons */
    align-items: center; /* Align buttons vertically in the center */
    gap: 1rem;
    flex-direction: column;
}

.blog_post-buttons-container button {
    flex-grow: 1; /* Each button will grow to take up equal space */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
}

.blog_post-buttons-container button:hover {
    background-color: var(--button-hover);
}

.blog_post-buttons-container a {
    flex-grow: 4;
    display: flex;
    text-decoration: none;
    width: 100%;
}

.blog_post-buttons-container a button {
    flex: 4;
}

.blog_post-buttons-container button {
    width: 100%;
}

.blog-page_post-container {
    padding: 0.5rem;
    display: grid;
    gap: 1rem;
    width: 100%;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 1rem), 1fr));
}

.blog-post_container {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    height: auto;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid var(--accent-color); /* Use a sea-themed blue color for the border (#83C5BE) */
    background-color: var(--background-component); /* Lighter background color (Gray) */
    text-align: left; /* Align all text to the left */
}

.blog-post_name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--title-color); /* Use a sea-themed blue color for the title (#006D77) */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-post_description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Allow two lines for the description */
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.5rem;
    color: var(--text-description); /* Dim the color for description */
    /* Fading effect for description */
    opacity: 0.8;
    /* Ensure the description container always occupies at least two lines of space */
    min-height: 2.5rem; /* Adjust the value as needed */
    /* Ensure text wraps to two rows */
    word-wrap: break-word;
}

.blog-post_posted,
.blog-post_likes {
    font-size: 0.9rem;
    color: var(--text-extras);
    margin-bottom: 0.5rem;
}

.blog-post_visit {
    margin-top: 0.5rem;
    border: none;
    padding: 0.5rem 0.25rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
}

.blog-post_visit:hover {
    background-color: var(--button-hover);
}

.blog-post_visit:visited {
    background-color: #ffddd2; /* Darker color for visited state (#FFDDD2) */
    color: var(--text-color);
}

.blog-post_visit.unlike-button {
    background-color: none;
    background-color: var(--background-component);
    color: var(--accent-color);
    border: 1px solid var(--button-color);
}

.blog-post_visit.unlike-button:hover {
    background-color: var(--button-hover);
    color: var(--text-color);
}

.blog-page_error-text,
.blog-page_loading-text {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.blog-post_countries {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    gap: 0.5rem;
    flex-wrap: nowrap;
  }
  
  .blog-country_bubble {
    border: #49c4cd solid 1px;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #49c4cd7e;
    color: white;
  }
  
  .blog-post_countries .blog-country_bubble:last-child {
    margin-right: 0;
  }
  

.blog-post_information{
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
}

@media (min-width: 450px) {
    .blog_post-buttons-container {
        flex-direction: row;
    }
    
}


@media (min-width: 601px) {
    .blog-page_post-container {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
    }
}

@media (min-width: 901px) {
    .blog-page_post-container {
        grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 1rem), 1fr));
    }
}
