.blog-create_page {
  height: 100%;
  background-color: #edf6f9; /* Lighter background color for the container (EDF6F9) */
  padding: 1rem;
}

.blog-create_container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #006d77; /* Use a sea-themed blue color for the text (#006D77) */
  padding: 0.5rem;
  background-color: #f5f5f5; /* Lighter background color (Gray) */
  border-radius: 10px;
}

.blog-create_name {
  color: #006d77; /* Use a sea-themed blue color for the title (#006D77) */
}

.blog-create_form {
  margin-top: 1rem;
}

.blog-create_label {
  display: block;
  margin-bottom: 0.5rem;
}

.blog-create_input,
.blog-create_textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.blog-create_button {
  cursor: pointer;
  border: none;
  display: inline-block;
  color: #fff;
  background-color: #e29578; /* Use a sea-themed blue color for the button (#E29578) */
  padding: 0.5rem;
  border-radius: 5px;
}

.blog-create_button:hover {
  background-color: #4188b3; /* Darker color on hover (#4188B3) */
}