.blog-create_page {
  height: 100dvh;
  background-color: var(--background-light); /* Lighter background color for the container (EDF6F9) */
  padding: 1rem;
}

.blog-create_container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--title-color); /* Use a sea-themed blue color for the text (#006D77) */
  padding: 0.5rem;
  background-color: var(--background-component); /* Lighter background color (Gray) */
  border-radius: 10px;
}

.blog-create_name {
  color: var(--title-color); /* Use a sea-themed blue color for the title (#006D77) */
}

.blog-create_form {
  margin-top: 1rem;
}

.blog-create_label {
  display: block;
  margin-bottom: 0.5rem;
}

.blog-create_input,
.blog-create_textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.blog-create_button {
  cursor: pointer;
  border: none;
  display: inline-block;
  color: var(--text-color);
  background-color: var(--button-color); /* Use a sea-themed blue color for the button (#E29578) */
  padding: 0.5rem;
  border-radius: 5px;
}

.blog-create_button:hover {
  background-color: var(--button-hover); /* Darker color on hover (#4188B3) */
}