.home-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #edf6f9;
    color: #e29578;
  }
  
  .home-text {
    font-size: 3rem;
    text-align: center;
  }