.blog-view_posts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blog-view_post {
    color: #006d77;
    padding: 1rem;
    border: 1px solid #83c5be;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.blog-view_post h3 {
    color: #006d77;
    margin-bottom: 10px;
}

.blog-view_post p {
    color: #888;
    margin-bottom: 10px;
}