.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light); /* Lighter background color for the container */
  padding: 1rem;
}

.login-container {
  background-color: var(--background-light); /* Match the background color */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* Adjust the max-width as needed */
}

.login-container h2 {
  color: var(--title-color); /* Use a sea-themed blue color for the title */
  margin-bottom: 1rem;
}

.login-container form {
  margin-top: 1rem;
}

.login-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--title-color); /* Match the label color */
}

.login-container input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid var(--accent-color); /* Adjust input border */
  background-color: var(--background-component); /* Match the input background color */
  color: var(--title-color); /* Match the input text color */
}

.login-container button {
  cursor: pointer;
  border: none;
  display: inline-block;
  color: var(--text-color);
  background-color: var(--button-color); /* Use a sea-themed blue color for the button */
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.login-container button:hover {
  background-color: var(--second-button-color); /* Darker color on hover */
}
