.register-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light);
    padding: 1rem;
}

.register-container {
    background-color: var(--background-light);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}

.register-container h2 {
    color: var(--text-title);
    margin-bottom: 1rem;
}

.register-container form {
    margin-top: 1rem;
}

.register-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-title);
}

.register-container input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid var(--accent-color);
    background-color: var(--background-component);
    color: var(--title-color);
}

.register-container button {
    cursor: pointer;
    border: none;
    display: inline-block;
    color: var(--text-color);
    background-color: var(--button-color);
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.register-container button:hover {
    background-color: var(--second-button-color);
}


.password-error {
    color: var(--text-error);
    margin-top: 0.5rem;
}

.validation-error {
    color: var(--text-color);
    margin-top: 0.5rem;
}


