nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #004051; /* Dark background color */
  color: #cfe4e9; /* Light text color */
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #006d77; /* Use a sea-themed blue color for text (#006D77) */
  cursor: pointer;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #e6f7ff;  /* Use a sea-themed blue color for text (#006D77) */
  padding: 0.5rem;
  display: inline;
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

.navbar-links a:hover {
  background-color: #205c6e; /* Slightly darker color on hover (within the color scheme) */
  border-radius: 15px;
}

.navbar-links.show {
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: #004051; /* Use the same background color as the navbar */
}

@media screen and (max-width: 600px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-links {
    display: none;
    position: relative;
  }

  .navbar-links.show {
    display: flex;
  }

  nav p {
    text-align: center;
  }
}